<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <add key="dev" value=""/>
    <add key="spd" value="1000000"/>
    <add key="rw" value="0"/>
    <add key="ps" value="0"/>
    <add key="dc" value="2"/>
    <add key="ce" value="3"/>
    <add key="data" value="4"/>
    <add key="rst" value="5"/>
    <add key="clk" value="6"/>
    <add key="dt" value="8"/>
  </appSettings>
</configuration>